################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/StarFlight/bin/Debug/net6.0-windows
/.vs
/StarFlight/obj
/UpgradeLog.htm
/Backup/StarFlight.sln
